.features {
    background: $textColor;

    .features-header {
        margin-top: 77px;
        text-align: center;

        h2 {
            font-size: 26px;
            font-weight: 700;
            color: $textWhite;
            letter-spacing: 0.13em;
            position: relative;

            span {
                color: $mainColor;
            }
        }

        h2::after {
            content: "";
            display: block;
            position: absolute;
            left: 26%;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2::before {
            content: "";
            display: block;
            position: absolute;
            right: 26%;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2 span::after {
            content: "";
            display: block;
            position: absolute;
            right: 25%;
            opacity: 0.5;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2 span::before {
            content: "";
            display: block;
            position: absolute;
            left: 25%;
            opacity: 0.5;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        p {
            color: $textWhite;
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 70px;
            opacity: 0.8;
        }
    }

    .features-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 50px;

        .item {
            position: relative;
            margin-bottom: 60px;

            h3 {
                color: $textWhite;
                font-size: 15px;
                margin-bottom: 25px;
                text-align: center;
            }

            p {
                font-size: 14px;
                color: $textWhite;
                text-align: center;
                width: 260px;
                margin-left: 50px;
                opacity: 0.8;
            }

            i {
                position: absolute;
                top: calc(50% - 10px);
                left: 15px;
                color: $mainColor;
                font-size: 27px;
            }
        }
    }

    img {
        height: 430px;
    }
}

.about-us {
    padding-bottom: 60px;
    position: relative;

    .about-us-item {
        width: 370px;
        position: relative;
        height: 125px;
        margin-top: 75px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            font-size: 14px;
            color: $textColor;
            margin-bottom: 10px;
            font-weight: 700;
        }

        span {
            color: #8a8a8a;
            opacity: 0.8;
            font-size: 12px;
            margin-bottom: 20px;
        }

        p {
            color: $textColor;
            font-size: 14px;
        }

        .about-us-icon {
            width: 40px;
            min-height: 40px;
            border-radius: 5px;
            background: #222831;
            position: relative;
            display: block;
            left: -60px;
            top: -121px;
            text-align: center;
            line-height: 57px;
            transition: all 0.6s;

            i {
                color: $textWhite;
                font-size: 25px
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -17px;
                left: 0px;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #222831;
                transition: all 0.6s;
            }
        }







    }

    .about-us-item:hover .about-us-icon {
        background: $mainColor;
    }

    .about-us-item:hover .about-us-icon::after {
        border-top: 20px solid $mainColor;
    }
}

.skill-logo {
    height: 55px;
    width: 55px;
    display: block;
    position: absolute;
    bottom: -28px;
    left: calc(50% - 27px);
    border-radius: 5px;
    background: $mainColor;
    text-align: center;
    transform: rotate(45deg);

    i {
        color: $textWhite;
        font-size: 25px;
        transform: rotate(315deg);
        line-height: 55px;
    }
}