.quotes-section {
    background: $mainColor;
    padding-top: 80px;
    padding-bottom: 110px;

    .owl-carousel-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
            color: $textColor;
            background: $textWhite;
            font-size: 14px;
            font-style: italic;
            line-height: 50px;
            margin: 15px 30px;
            width: 250px;
            height: 50px;
            border-radius: 5px;

            span {
                color: $mainColor;
                font-style: normal;
                font-weight: 700;

            }
        }

        p {
            color: $textWhite;
            font-size: 1.1rem;

        }
    }

    .owl-nav {
        text-align: center;

        .owl-prev {
            color: $textColor !important;
            font-size: 40px !important;
            margin: 5px;
            transition: all .2s;
        }

        .owl-next {
            color: $textColor !important;
            font-size: 40px !important;
            margin: 5px;
            transition: all .2s;
        }

        .owl-next:focus,
        .owl-prev:focus {
            outline: none;
        }

        .owl-next:hover,
        .owl-prev:hover {
            color: $textWhite !important;
        }
    }
}

.logos-section {
    background: $textColor;
    padding: 50px;

    .owl-carousel-logos {
        position: relative;

        .owl-nav {
            text-align: center;

            .owl-prev {
                color: $textWhite !important;
                font-size: 40px !important;
                margin: 5px;
                position: absolute;
                left: -70px;
                top: calc(50% - 40px);
                transition: all .2s;
            }

            .owl-next {
                color: $textWhite !important;
                font-size: 40px !important;
                margin: 5px;
                position: absolute;
                right: -70px;
                top: calc(50% - 40px);
                transition: all .2s;
            }

            .owl-next:focus,
            .owl-prev:focus {
                outline: none;
            }

            .owl-next:hover,
            .owl-prev:hover {
                color: $mainColor !important;
            }
        }

        .owl-logo-items {
            height: 150px;
            width: 270px;

            img {
                filter: grayscale(1);
                transition: all .5s;

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

}

.prices {
    .prices-header {
        margin-top: 80px;
        margin-bottom: 50px;

        h2 {
            font-size: 26px;
            text-align: center;
            color: $textColor;
            font-weight: 800;
            letter-spacing: 1px;
            position: relative;

            span {
                color: $mainColor;
            }
        }

        h2::after {
            content: "";
            display: block;
            position: absolute;
            left: 24%;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2::before {
            content: "";
            display: block;
            position: absolute;
            right: 24%;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2 span::after {
            content: "";
            display: block;
            position: absolute;
            right: 22%;
            opacity: 0.5;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        h2 span::before {
            content: "";
            display: block;
            position: absolute;
            left: 22%;
            opacity: 0.5;
            top: calc(50% - 7px);
            height: 15px;
            width: 15px;
            border-radius: 2px;
            background: $mainColor;
            transform: rotate(45deg);
        }

        p {
            font-size: 16px;
            text-align: center;
            color: #8a8a8a;
        }
    }

    .prices-card {
        height: 440px;
        width: 270px;
        border-radius: 5px;
        border: 1px solid #dedede;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 85px;
        margin-top: 70px;

        h4 {
            position: absolute;
            font-size: 15px;
            background: $textColor;
            color: $textWhite;
            font-weight: 800;
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            top: -6%;
            left: calc(50% - 70px);
            transition: all .5s;
            span{
                color: $mainColor;
                margin: 4px auto;
            }
        }
        .prices-star{
            left: calc(50% - 91px);
        }
        p {
            font-size: 16px;
            color: $textColor;

            span {
                font-weight: 800;
                color: $textColor;
                font-size: 28px;

            }
        }

        ul {
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            margin: 0;
            padding: 0  ;

            li {
                color: $textColor;
                opacity: 0.6;
                font-size: 15px;
                list-style: none;
                margin: 20px auto;
                text-transform: uppercase;
            }
        }

        button {
            margin-top: 25px;
            background: $mainColor;
            color: $textWhite;
            font-size: 15px;
            padding: 15px;
            border-radius: 5px;
            font-weight: 700;
            width: 150px;
            height: 40px;
            line-height: 11px;
            outline: 0 !important;
            border: none;
            transition: all .5s;

            &:focus {
                outline: none;
            }

            &:hover {
                background: $textColor;
            }
        }
        &:hover{
            button{
                background: $textColor;
            }
            h4{
                background: $mainColor;
                color:$textWhite;   
                span{
                    color:$textColor;
                }
            }
        }
    }
    .purchase-it-second{
        background-image:url('components/purchase.png');
        height: 172px;
        .pcontainer{
            padding-top: 72px;
        }
        h3{
            color: $textWhite;
            font-weight: 700;
            span{
                color:$mainColor;

            }
        }
        button{
            background: #00adb5;
            color: #eeeeee;
            font-size: 13px;
            padding: 15px;
            border-radius: 5px;
            font-weight: 700;
            width: 170px;
            height: 40px;
            line-height: 10px;
            outline: 0 !important;
            border: none;
            transition: all 0.5s;
            &:hover{
                background: $textColor;
                color:$textWhite;
            }
        }

    }
}