@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$font: 'Raleway', sans-serif;
$mainColor: #00adb5;
$textColor: #222831;
$textWhite: #eeeeee;
*{
    font-family: $font;
    user-select: none;
    -webkit-user-select: none;

}
@import 'components/header';
@import 'components/offer';
@import 'components/features';
@import 'components/skills';
@import 'components/company';
@import 'components/quotes';
@import 'components/footer';
@import 'components/media';
.modals {
    display: none;
}

.read-pop-up{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
.menu-trigger{
    display: none;
    text-align: right;
    padding-right: 15px;
}
.clicked-menu{
    color:$mainColor;
}

.flex-card{
    display: flex;
   justify-content: center;
}
.active-nav{
    background: $mainColor;
    border-radius: 5px;
    color: $textWhite!important;
}
@media screen and (max-width: 1368px){
    .active-nav{
        background: transparent;
        color: $mainColor!important;
    }
}